.custom-menu-primary .hs-menu-wrapper >ul {
    width: 100%;
}
.custom-menu-primary .hs-menu-wrapper > ul > li {
    width: 14.28571%; /* Width is equivalent to 10 divided by the number of items in your site map */
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px; /* to offset the added spacing due to inline-block */
}
.custom-menu-primary .hs-menu-wrapper >ul > li > a {
    padding-right: 0 ;
    padding-left: 0;
    max-width: none;
}
.custom-menu-primary .hs-menu-wrapper >ul > li:nth-child(4) > a { /* use nth child to target the logo link from the site map */
    content: url('http://www.hubspot.com/image.png');
}
