/* ==========================================================================
   Five Columns
   ========================================================================== */
/*-- Equal Five Columns Wrapper --*/
.five-col-wrapper  {
    margin: 0 -1.282051282% !important;
    float: none !important;
    width: auto !important;
}
.five-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
     width: 17.435897436%;
     margin: 0 1.282051282% !important;
}
@media(max-width: 767px){
     /*-- Equal Five Columns Wrapper --*/
     .five-col-wrapper,
     .five-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
          margin-left: 0 !important;
         margin-right: 0 !important;
         width: 100% !important;
     }
}

/* ==========================================================================
   Seven Columns
   ========================================================================== */   
/*-- Equal Seven Columns Wrapper --*/
.seven-col-wrapper  {
    margin: 0 -1.282051282% !important;
    float: none !important;
    width: auto !important;
}
.seven-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
     width: 11.72161172171429%;
     margin: 0 1.282051282% !important;
}
@media(max-width: 767px){
     /*-- Equal Seven Columns Wrapper --*/
     .seven-col-wrapper,
     .seven-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
          margin-left: 0 !important;
         margin-right: 0 !important;
         width: 100% !important;
     }
}

/* ==========================================================================
   Nine Columns
   ========================================================================== */   
/*-- Equal Nine Columns Wrapper --*/
.nine-col-wrapper  {
    margin: 0 -1.282051282% !important;
    float: none !important;
    width: auto !important;
}
.nine-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
     width: 8.54700854711111%;
     margin: 0 1.282051282% !important;
}
@media(max-width: 767px){
     /*-- Equal Nine Columns Wrapper --*/
     .nine-col-wrapper,
     .nine-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
          margin-left: 0 !important;
         margin-right: 0 !important;
         width: 100% !important;
     }
}   

/* ==========================================================================
   Eleven Columns
   ========================================================================== */
/*-- Equal Eleven Columns Wrapper --*/
.eleven-col-wrapper  {
    margin: 0 -1.282051282% !important;
    float: none !important;
    width: auto !important;
}
.eleven-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
    width: 6.52680652690909%;
    margin: 0 1.282051282% !important;
}
@media(max-width: 767px){
     /*-- Equal Eleven Columns Wrapper --*/
     .eleven-col-wrapper,
     .eleven-col-wrapper > div.row-fluid-wrapper > div.row-fluid > div.widget-span {
          margin-left: 0 !important;
         margin-right: 0 !important;
         width: 100% !important;
     }
}