/** 
 * Border Radius 
 *
 * {#  ex. {{ borderRadius("5px") }};  #} 
 */

{% macro borderRadius(value) -%} 
    -webkit-border-radius: {{ value }};
    -moz-border-radius: {{ value }};
    -o-border-radius: {{ value }};
    -ms-border-radius: {{ value }};
    border-radius: {{ value }};
{%- endmacro %}


/** 
 * Box Shadow  
 *
 * {#  ex. {{ boxshadow("1px 1px 1px rgba(0,0,0,0.5)") }};  #} 
 */

{% macro boxshadow(value) -%}
    -webkit-box-shadow: {{ value }};
    -moz-box-shadow: {{ value }};
    -o-box-shadow: {{ value }};
    -ms-box-shadow: {{ value }};
    box-shadow: {{ value }};
{%- endmacro %}


/** 
 * Transition
 * 
 * {#  ex. {{ transition("all 1s ease") }};  #} 
 */

{% macro transition(value) -%}
    -webkit-transition: {{ value }};
    -moz-transition: {{ value }};
    -o-transition: {{ value }};
    -ms-transition: {{ value }};
    transition: {{ value }};
{%- endmacro %}


/** 
 * Transform
 *
 * {#  ex. {{ transform("rotate(45deg)") }};  #} 
 */

{% macro transform(value) -%}
    -webkit-transform: {{ value }};
    -moz-transform: {{ value }};
    -o-transform: {{ value }};
    -ms-transform: {{ value }};
    transform: {{ value }};
{%- endmacro %}

