/* Visibilty Classes */
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.hidden {
    display: none;
    visibility: hidden;
} 
 
/* Responsive Visibilty Classes */
.visible-phone {
    display: none !important;
}
.visible-tablet {
    display: none !important;
}
 
.hidden-desktop {
    display: none !important;
}
 
@media (max-width: 767px) {
    .visible-phone {
        display: inherit !important;
    }
    .hidden-phone {
        display: none !important;
    }
    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important;
    }
}
 
@media (min-width: 768px) and (max-width: 1139px) {
    .visible-tablet {
        display: inherit !important;
    }
    .hidden-tablet {
        display: none !important;
    }
    .hidden-desktop {
        display: inherit !important;
    }
    .visible-desktop {
        display: none !important ;
    }
}