.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
     max-width: none !important;
     white-space: nowrap !important;
     width: auto !important;
 } 