/* LEFT SIDEBAR THAT STACKS BELOW CONTENT ON MOBILE */
.main-content {
  margin-right: 0 !important;
  float: right !important;
}
.sidebar {
  margin-left: 0 !important;
}

@media (max-width: 767px) {
    .main-content {
    margin-left: 0 !important;
    }
    
    .main-content,
    .sidebar {
    width: 100% !important;
    float: none !important;
    }
}  